html {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}


html{
	background-color: #00539F;
}


body {
	width:1000px;
	margin: 0 auto;
	background-color:#C9E5ED; 
	padding: 0 3px 3px 3px;
	border:2px solid black;
}


h1 {
	margin: 0;
	padding: 20px 0;
	color: #00539F;
	text-shadow: 1px 1px 1px;
}


h3 {
  margin: 0;
  padding: 15px 0;
  color: black;
}